ROD_TOKEN=
ROD_INTENT_FEATURES_ENABLE=
ROD_ADMIN_IDS=
ROD_ADMIN_GUILD=
ROD_DEV=
ROD_DEV_GUILD_ID=
ROD_PREFIX=

ROD_ENABLE_API_SERVER=
API_SERVER_FRONTEND_ORIGIN=
API_SERVER_HOST=
API_SERVER_PORT=

DB_HOST=
DB_PORT=
POSTGRES_PASSWORD=
POSTGRES_USER=
POSTGRES_DB=

JWT_SECRET=
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=
