<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Running on Dart</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org@2.0.3"></script>
</head>
<body>
<nav hx-get="/hx?c=navigation" hx-swap="outerHTML" hx-trigger="load"></nav>

<div class="container">
    <div hx-get="/hx?c=alert" hx-swap="outerHTML" hx-trigger="load"></div>

    <div class="container">
        <div class="accordion" id="guildsAccordion">
        {{#guilds}}
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading{{id}}">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{id}}" aria-expanded="true" aria-controls="collapse{{id}}">
                        <img src="https://media.discordapp.net/icons/{{id}}/{{icon}}.png?size=32" alt="Guild icon" class="rounded-circle inline m-1" onerror="this.style.display='none'">
                        {{name}}
                    </button>
                </h2>
                <div id="collapse{{id}}" class="accordion-collapse collapse" aria-labelledby="heading{{id}}" data-bs-parent="#guildsAccordion">
                    <div class="accordion-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Cached members</th>
                                <th scope="col">Cached channels</th>
                                <th scope="col">Cached messages</th>
                                <th scope="col">Cached roles</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>{{cached_members}}</td>
                                <td>{{cached_channels}}</td>
                                <td>{{cached_messages}}</td>
                                <td>{{cached_roles}}</td>
                            </tr>
                            </tbody>
                        </table>
                        <p class="card-text">
                            Features: <span class="fw-bold">{{enabled_features}}</span>
                        </p>
                    </div>
                </div>
            </div>
        {{/guilds}}
        </div>
    </div>
</div>
</body>
</html>
